/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-cgb-block-events-slider {
  max-width:90vw !important;
}

.wp-block-cgb-block-weekly-events-display  {
  color: $black;
  margin: 0 auto !important;
  max-width: 80vw !important;
  padding: 2rem;
}
.calendarContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
}
.calendar{
  display:flex;
  flex-direction:column;
  width:80vw;
}
/*Ce qui concerne le header du calendrier */
.calendarHeader{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  padding:0;
  color:white;
  font-weight:bold;
}
.monthDisplay{
  font-size:1.7rem;
  background-color:rgba(0, 0, 0, 0.63);
  padding-left:3.5rem;
  
  text-align: center;

}
.monthDisplay:hover + .monthNav{
  color:white;
}
.monthNav{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  color:rgba(0, 0, 0, 0.63);
  background-color:rgba(0, 0, 0, 0.63);
  
}
.monthNavBtn{
  margin:0;
  font-size:1.7rem !important;

}
.monthNav{
  color:transparent;
}
.monthNav:hover p{
  color:white;
}
.monthNav p:hover{
  cursor:pointer;
}
.weekDisplay{
  padding:0;
  color:rgba(0, 0, 0, 0.63);
}
.week-day{
  padding-bottom:0;
}
.daysOfWeek{
  margin:0;
}
.daysNb{
  font-size:3rem;
  font-weight:bold;
  text-align:left;
  padding: 0px 10px;
}
table{
  border:none !important;
  border-color:transparent !important;
  width:100%;
}
tr, th{
  display:flex;
  flex-direction: row;
  width:100%;
}
th{
  border:none !important;
}
.week-day {
  font-size:1.5rem;
}
td{
  border:none !important;
  font-weight:bold;
  width:100%;
  padding-top:0px !important;
}
.EventName li{
  list-style:none;
  margin:0 !important;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content: flex-start;
  font-size:1.5rem !important;
}
.hidden{
  display:none;
}
.weekNavBtn{
  color:rgba(0, 0, 0, 0.63);
  font-size:5rem;
  background-color: transparent !important;
  padding:0.2rem 1rem;
}
.weekNavBtn:hover{
  color:rgba(0, 0, 0, 0.20);
  background-color: grey;
  text-decoration:none;
}
.hourSpan{
  font-size: 1.2rem;
  font-weight:bold;
  text-align:start;
  margin-right:5px;
  margin-top: 3px;
}
